.background { 
    background-color: whitesmoke; 
}
h1 {
    margin: 10px;
    font-weight: bold;
    text-align: center;
    color: lime;
}
.p1{
    margin: 10px;
    font-weight: bold;
    text-align: center;
    color: black;
}
.middle{
    color: royalblue;
}